PORT=3000
DATABASE_URL=postgresql://usuariodb:contraseñadb@host:puerto/nombredb?sslmode=require
JWT_SECRET=un_secreto_super_seguro_para_firmar_los_tokens
FRONTEND_URL=https://registro-empleados-front.vercel.app
